.container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    width: 100%;
    padding: 8px 60px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.row:nth-of-type(even) {
    background: #e2e2e2;
  }
.comment{
    width: 50px;
    text-align: left;
}
.vote{
    width: 50px;
    text-align: right;
}
.comment ~div{
    margin-right: 8px;
}
.vote.good{
    color: red;
}
.vote.excellent{
    color: orange;
}
.info{
    font-size: 10px;
}
.info.bold{
    font-weight: bold;
}
.upvote{
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid orange;
  cursor: pointer;
}
.downvote{
 width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid grey;
  transform: rotate(180deg);
  cursor: pointer;
  
}
.upvote:hover, .downvote:hover{
    cursor: pointer;
    opacity: 0.6;
}
.hidebutton{
    cursor: pointer;
}
.error{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.moreButton{
    cursor: pointer;
    padding: 16px 140px;
}
.moreButton a{
    text-decoration: none;
    color: #ff6600;
}