.container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    width: 100%;
    padding: 4px 60px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    position: relative;
}
.row:nth-of-type(even) {
    background: #e2e2e2;
  }
.title{
    font-weight: bold;
}
.infoRows .info{
    float: left;
}
.comment{
    width: 50px;
    text-align: left;
}
.vote{
    width: 50px;
    text-align: right;
}
.comment ~div{
    margin-right: 8px;
}
.vote.good{
    color: red;
}
.vote.excellent{
    color: orange;
}
.info{
    font-size: 10px;
}
.info.bold{
    font-weight: bold;
}
.upvote{
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid grey;
  cursor: pointer;
}
.downvote{
 width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid grey;
  transform: rotate(180deg);
  cursor: pointer;
  
}
.upvote:hover, .downvote:hover{
    cursor: pointer;
    opacity: 0.6;
}
.hidebutton{
    cursor: pointer;
}
.error{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.moreButton{
    cursor: pointer;
    padding: 16px 130px;
}
.moreButton a{
    text-decoration: none;
    color: #ff6600;
}
.hideOnDesktop{
    display: none;;
}
.voteActions{
    flex-flow: column wrap;
}
.voteActions > div{
    margin: 2px;
}
@media (max-width: 767px){
    .comment, .vote{
        position: absolute;
        margin-right: 0px;
        font-size: 10px;
    }
    .comment{
        right: 8px;
        top: 16px;
        text-align: right;
    }
    .vote{
        right: 8px;
        bottom: 8px;
        text-align: right;
    }
    .comment ~div{
        margin-right: 0px;
    }
    .upvote,.downvote{
        position: absolute;
        left: 8px;
    }
    .row{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 8px 0px 8px 32px;
        min-height: 70px;
    }
    .title{
        font-size: 14px;
        max-width: 90%;
    }
    .info{
        font-size: 12px;
    }
    .infoRows{
        width: 90%;
    }
    .moreButton{
        text-align: center;
    }
    .hideOnDesktop{
        display: block;
    }
}